{% extends "layout.html" %}
{% block content %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
    <h2>Invite User:</h2>
    <form method="post">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fullwidth">
        <input class="mdl-textfield__input" type="text" name="displayname" id="name" list="known_users"/>
        <label class="mdl-textfield__label" for="name">Name:</label>
      </div><br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fullwidth">
        <input class="mdl-textfield__input" type="text" name="email" id="email"/>
        <label class="mdl-textfield__label" for="email">Email:</label>
      </div><br/>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--icon-left"
      type=submit><i class="material-icons">phonelink_ring</i>Send Invitation</button><br/>
    </form>
    {% include "user_datalist.html" %}
</div>
{% endblock %}
