{% extends "layout.html" %}
{% block content %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
    <h2>Admin Actions:</h2>
    <ul>
    <li>
      <a href="/admin/invite-user">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--icon-left"
        type=button><i class="material-icons">phonelink_ring</i>Invite User</button></a><br/>
    </li>
    <li>
      <a href="/admin/upload-data">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--icon-left"
        type=button><i class="material-icons">cloud_upload</i>Import from file</button></a><br/>
    </li>
    </ul>

    <h4><i class="material-icons">warning</i>Danger Zone!<i class="material-icons">warning</i></h4>
    <ul>
    <li>
      <a href="/admin/rebuild-search-index">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--icon-left"
        type=button>
        <i class="material-icons">autorenew</i>Rebuild Search Index</button></a>
        <br/>
    </li>
    <li>
      <a href="/admin/clear-search-index">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--icon-left"
        type=button>
        <i class="material-icons">delete_forever</i>Clear Search Index</button></a><br/>
    </li>
    </ul>
</div>

{% endblock %}
