{% extends "layout.html" %}
{% block content %}
    <h2>Book:</h2>
    {% for msg in messages %}
    <div class="alert alert-info">
      {{ msg }}
    </div>
    {% endfor %}
    <form method="post">
      Owner: <input type=text name="owner" value="{{ book.owner_displayname() }}" list="known_users"/><br/>
      Title: <input type=text name="title" value="{{ book.title }}"/><br/>
      Authors: <input type=text name="author" value="{{ book.author | join(',')}}"/><br/>
      ISBN: <input type=text name="isbn" value="{{ book.isbn }}"/><br/>
      Description: <textarea name="description" >{{ book.description }}</textarea><br/>
      {% if book.key %}
      <input type=text hidden=true name="id" value="{{ book.key.urlsafe() }}">
      {% endif %}
      <button type=submit />Save Changes</button><br/>
    </form>
      {% if book.key %}
    <form action="/book/{{ book.key.urlsafe() }}/delete" method="post">
      <button type=submit>Delete Book</button><br/>
    </form>
      {% endif %}
      {% include "user_datalist.html" %}
    <h4>History:</h4>
    <ul>
    {% for loan in book.history() %}
      <li> {{ loan.start_date.strftime("%Y-%m-%d") }} - {{ loan.loaned_to.get().displayname }}</li>
    {% endfor %}
    </ul>
{% endblock %}
