{% extends "layout.html" %}
{% block content %}
    <h2>Book:</h2>
    {% for msg in messages %}
    <div class="alert alert-info">
      {{ msg }}
    </div>
    {% endfor %}
    <a href="{{scan_url_add}}">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--icon-left"
      type=button><i class="material-icons">phonelink_ring</i>Scan Barcode</button></a><br/>
    <form method="post">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="owner" id="owner"
          value="{{ book.owner_displayname() }}" list="known_users" />
        <label class="mdl-textfield__label" for="owner">Owner...</label>
      </div><br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="title" id="title"
          value="{{ book.title }}">
        <label class="mdl-textfield__label" for="title">Title</label>
      </div><br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="author" id="author"
          value="{{ book.author | join(',') }}">
        <label class="mdl-textfield__label" for="author">Author(s)</label>
      </div><br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="isbn" id="isbn"
          value="{{ book.isbn }}">
        <label class="mdl-textfield__label" for="isbn">ISBN</label>
      </div><br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows= "4" name="description" id="description" >
          {{- book.description -}}
        </textarea>
        <label class="mdl-textfield__label" for="description">Description...</label>
      </div><br/>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
          type=submit>Save Changes</button><br/>
      {% if book.key and book.is_available() %}
      <a href="/borrow/{{ book.key.urlsafe() }}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type=button>
          Borrow</button></a><br/>
      {% endif %}
    </form>
      {% if book.key %}
      <input type=text hidden=true name="id" value="{{ book.key.urlsafe() }}">
    <form action="/book/{{ book.key.urlsafe() }}/delete" method="post">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type=submit>Delete Book</button><br/>
    </form>
      {% endif %}
      {% include "user_datalist.html" %}
    <h4>History:</h4>
    <ul class="mdl-list">
    {% for loan in book.history() %}
      <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item--primary-content">
      {{ loan.start_date.strftime("%Y-%m-%d") }} - {{ loan.loaned_to.get().displayname }}
      </span> </li>
    {% endfor %}
    </ul>
{% endblock %}
