<html>
  <head>
		{% block head %}	
    <title>Book Club Library</title>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://marcdougherty.com/css/main.css">
		{% endblock %}	
  </head>
  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <div>
            <div id="project_tagline">SPORTS Club Library
            </div>
            <div class="nav">
              <ul>
			<li> <a href="/">Home</a></li>
      <li> <a href="/books">Browse</a></li>
      <li> <a href="zxing://scan/?ret={{add_url | escape }}&SCAN_FORMATS=UPC_A,EAN_13">Add</a> </li>
      <li> <a href="zxing://scan/?ret={{borrow_url | escape }}&SCAN_FORMATS=UPC_A,EAN_13">Borrow</a> </li>
              </ul>
            </div>
          </div>

        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
    {% block flashed_messages %}
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endwith %}
    {% endblock %}

		{% block content %}	
			There's content here.
		{% endblock %}	
			</section>
    </div>
  </body>
