<html>
  <head>
    {% block head %}
    <title>Book Club Library</title>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% endblock %}
  </head>
  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <div>
            <div id="project_tagline">SPORTS Club Library
            </div>
            <div class="nav">
              <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href="/books">Browse</a></li>
      <li> <a id="add-link" href="/add/">Add</a> </li>
      <li> <a id="borrow-link" href="/books">Borrow</a> </li>
              </ul>
            </div>
          </div>

        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
    {% block flashed_messages %}
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endwith %}
    {% endblock %}

    {% block content %}
      There's content here.
    {% endblock %}
      </section>
    </div>
  </body>
    <script>
    if( /Android|iPhone|iPad|Mini/i.test(navigator.userAgent) ) {
      var mobile_add_url = "zxing://scan/?ret=" + location.origin + "{{add_url | escape }}&SCAN_FORMATS=EAN_13";
      var mobile_borrow_url = "zxing://scan/?ret=" + location.origin + "{{borrow_url | escape }}&SCAN_FORMATS=EAN_13";
      document.getElementById("add-link").href = mobile_add_url;
      document.getElementById("borrow-link").href = mobile_borrow_url;
    }
    </script>
