{% extends "layout.html" %}
{% block content %}
<script>
var interestToggle = function(element, bookkey){
  var value = element.getElementsByTagName("input")[0].checked
  var http = new XMLHttpRequest();
  http.open("GET", window.origin + "/interest/" + bookkey + "?value=" + value, true);
  http.send();
  element.getElementsByTagName("input")[0].checked = value;
  return true;
}
</script>
    <h2>{{list_heading or "Books:"}}</h2>
    <a href="?dir=prev&cursor={{p_cursor}}">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    </a>
    <a href="?dir=next&cursor={{n_cursor}}">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
    </a>
    <ul class="mdl-list">
      {% for book in books %}
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            {% if book.is_available() %}
            <a href="/borrow/{{ book.key.urlsafe() }}">
              <span class="material-icons mdl-list__item-icon"
                  id="browse.book{{loop.index}}">turned_in</span>
              <span class="mdl-tooltip mdl-tooltip--large" for="browse.book{{ loop.index}}">
              Borrow This Book</span>
            </a>
            {% else %}
            <span class="material-icons mdl-list__item-icon"
                  id="browse.book{{loop.index}}">turned_in_not</span>
              <span class="mdl-tooltip mdl-tooltip--large" for="browse.book{{ loop.index}}">
              Book loaned out, not available for borrowing.</span>
            {% endif %}
            {% if book.is_mine() %}
            <label>
            <i class="material-icons" id="watch.book{{loop.index}}">visibility_off</i>
              <span class="mdl-tooltip mdl-tooltip--large" for="watch.book{{ loop.index}}">
              This is your book. you cannot be interested in your own book.</span>
              </label>
            {% else %}
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect"
                for="watch.book{{loop.index}}"
                onchange='interestToggle(this, "{{book.key.urlsafe()}}")'
                >
            <input type="checkbox" id="watch.book{{loop.index}}"
                class="mdl-icon-toggle__input"
                  {% if book.get_interest() == True %}checked{% endif %} />
            <i class="mdl-icon-toggle__label material-icons">visibility</i>
            </label>
            {% endif %}
            <a href="/book/{{ book.key.urlsafe() }}">{{ book.title }}</a>
            <span class="mdl-list__item-text-body">
              Author(s):{{ book.author | join(', ') }}
            </span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <span class="mdl-chip">
              <span class="mdl-chip__text">
                Interest: {{book.interest}}
              </span>
            </span>
          </span>
        </li>
      {% endfor %}
    </ul>
    <a href="?dir=prev&cursor={{p_cursor}}">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    </a>
    <a href="?dir=next&cursor={{n_cursor}}">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
    </a>
{% endblock %}
