{% extends "layout.html" %}
{% block content %}
    {% if loans_to.count(1) > 0 %}
    <h4>You have borrowed:</h4>
    <ul class="mdl-list">
      {% for loan in loans_to %}
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            <a href="/return/{{ loan.key.urlsafe() }}">
            <i class="material-icons mdl-list__item-icon">assignment_return</i>
            </a>
            <a href="/book/{{ loan.book.urlsafe() }}">{{ loan.book.get().title }}</a>
            <span class="mdl-list__item-text-body">
              Owner:{{ loan.loaned_from.get().displayname }}
            </span>
          </span>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    <h4>Your books loaned out:</h4>
    <ul class="mdl-list">
      {% for loan in loans_from %}
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            <a href="/return/{{ loan.key.urlsafe() }}">
            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
            </a>
            <a href="/book/{{ loan.book.urlsafe() }}">{{ loan.book.get().title }}</a>
            <span class="mdl-list__item-text-body">
              Owner:{{ loan.loaned_to.get().displayname }}
            </span>
          </span>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
