{% extends "layout.html" %}
{% block content %}
    <h2>Loan:</h2>
      {% for msg in messages %}
      <div class="alert alert-info">
        {{ msg }}
      </div>
      {% endfor %}
    <form method="post">
      Book: <input type=text disabled="disabled" value="{{ loan.book.get().title }}"/><br/>
      Returned?: <input type=checkbox disabled="disabled" 
        {% if loan.is_returned == True %}checked="checked"{% endif %} /> 
        ({{ loan.duration() }} days) <br/>
      Loan to: <input type=text name="loan_to" value="{{ loan.loaned_to }}"/><br/>
      Note: <input type=text name="note" value="{{ loan.note }}"/><br/>
      <input type=text hidden=true name="id" value="{{ loan.key.urlsafe() }}">
      <button type=submit />Save Changes</button><br/>
      <a href="/return/{{ loan.key.urlsafe() }}"><button type="button">Return Book</button></a>
    </form>
{% endblock %}
